@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('iconfont.ttf?t=1675956276174') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: '\f0109';
}

.icon-dizhi:before {
  content: '\e63e';
}

.icon-youxiang:before {
  content: '\e908';
}

.icon-github:before {
  content: '\e50e';
}

.icon-youxiang1:before {
  content: '\e68b';
}

.icon-dianhua:before {
  content: '\e8ad';
}

.icon-yonghuming:before {
  content: '\e60a';
}

.icon-gitee:before {
  content: '\e60c';
}
