.fc-help-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #888888;
}

.fc-help-icon:hover {
  color: #333;
  cursor: pointer;
}

.color-light-black {
  color: #555555 !important;
}

.full-width {
  width: 100% !important;
}

.switch-center {
  align-items: center !important;
}

.auth-content {
  width: 400px;
  padding: 24px 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: -2px 4px 26px 0 rgba(0, 0, 0, 0.1);
}

.admin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 24px 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: -2px 4px 26px 0 rgba(0, 0, 0, 0.1);
}

.admin-icon {
  margin-left: 16px;
}

.admin-title {
  margin-bottom: 24px;
}

.admin-public-width {
  width: 100% !important;
}

.admin-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-remember {
  margin-right: 4px;
}

.admin-register-color {
  color: #0064c8;
}

.admin-password-or-register {
  margin: 0px 4px;
}

.admin-cursor {
  cursor: pointer;
}

.admin-go-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-tripartite-provider {
  width: '100%';
  margin-top: 32px;
}

.icon {
  margin: 4px 0px;
  padding: 2px 36px;
  border: 1px solid #dedede;
  border-radius: 8px;
  cursor: pointer;
}

.admin-github-btn,
.admin-gitee-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.admin-github-btn {
  color: #fff !important;
  font-weight: 400;
  font-size: 14px;
  background: #333 !important;
  border-color: #24292e !important;
}

.admin-github-btn:hover {
  background: #000 !important;
}
.admin-gitee-btn:hover {
  background: #b03320 !important;
}

.admin-gitee-btn {
  color: #fff !important;
  background: #e24329 !important;
  border-color: #b03320 !important;
}

.admin-github-btn-font {
  width: 66px;
  margin-left: 16px;
}

.admin-gitee-btn-font {
  width: 66px;
  margin-left: 16px;
}

.hr {
  margin: 32px 0 -1px;
  overflow: visible;
  text-align: center;
  border: 0;
  border-top: 2px solid #e9ebeb;
}

.hr::before {
  position: relative;
  top: -11px;
  display: inline-block;
  padding: 4px;
  color: rgb(14, 30, 37);
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #fff;
  content: '或';
}
