.react-flow__node.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: white;
  font-weight: 700;
  background: #2b6cb0;
  border-radius: 50%;
  cursor: unset;
}
.react-flow__node-default.selectable.selected {
  color: #0070cc;
  border-color: #0070cc;
  box-shadow: 0 0 0 0.5px #0070cc;
}
